*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(174, 179, 184);
    background-size: cover;/* Imagen al tamaño de la pantalla*/
    background-repeat: no-repeat;/* Para que no se repita la imagen de fondo */
    
}
.navbar{
    height: 100px;
    background-color: rgb(8, 8, 8);
    box-shadow: 2px 2px 8px #313030;
}
.navbar-brand{
    color: white;
}
img{
    margin: 0%;
    padding: auto;
    width:100px;
    height:auto;
    position: relative;
    right:20px;
    left: 30px;
}
a{
    position: relative;
    left: 50PX;
}
table{
    border: 1px;
}
.card{
    top: 30px;
    position: relative;
    height: 330px;

}
input{
    height: 40px;
}
.d-flex{

    width: 500px; /* ancho */
    position: relative;
    right:20px;
    left: 760px;
}

.footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    position:-webkit-sticky;
}