*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    color: white;
    background-image: url(imagenes/fondo\ \(2\).png);
    /* background-color: rgb(174, 179, 184); */
    background-size:cover;/* Imagen al tamaño de la pantalla*/
    background-repeat: no-repeat;/* Para que no se repita la imagen de fondo */
    
}
.navbar{
    height: 105px;
    background-color: rgb(8, 8, 8);
    box-shadow: 2px 2px 8px #313030;
}
.navbar-brand{
    color: white;
}
img{
    margin-right: 50px;
    padding: auto;
    width:130px;
    height:auto;
    position: relative;
    right:20px;
    left: 30px;
}

table{
    border: 1px;
}

input{
    height: 40px;
}
.d-flex{

    width: 500px; /* ancho */
    position: relative;
    right:600px;
    left: 900px;
   
}

footer {
/*     background-color: #000000; */
    color: #7498b6;
}
/* Aplica un margen superior al contenido principal para separarlo del footer */
main {
    margin-bottom: 70px; /* Ajusta el valor según el espacio que desees entre el contenido y el footer */
}
.h1{
    color: white;
}
/* styles.css */


/* Oculta la barra de navegación en la página 'crearOrden' */
body.crearOrden .navbar-brand {
    display: none;
}




